/* Contact Section */
section#contact {
  padding: 3em 2em 0.5em;
}
.form-wrapper:after,
.contact-wrapper:after {
  display: block;
  content: "";
  margin: 2em auto;
  border-bottom: solid 1px #dadada;
}
form {
  display: flex;
}
form input:first-child {
  flex: 1 0 80%;
  background-color: transparent;
}
form input:last-child {
  flex: 1 0 20%;
  border-left: 0;
  cursor: pointer;
  background-color: #f5d9d6;
  transition: all 0.25s ease;
}
#submit:hover {
  background-color: #000;
  color: #fff;
  transition: all 0.25s ease;
}
input {
  padding: 1em;
  border: 1px solid #000;
}
.contact-wrapper .wrapper {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}
.contact-wrapper .social-menu {
  flex: 1 0 100%;
  justify-content: center;
}
.contact-wrapper .social-menu li a {
  font-size: 1.5em;
  padding: 0;
  margin: 0 1.5em 0 0;
}
.contact-wrapper a i {
  width: 100%;
  padding-bottom: 0.2em;
}
.contact-footer {
  padding: 1em 0;
  border: 1px solid #000;
}
.contact-footer:last-child {
  border-left: 0;
}
.contact-footer:hover {
  background-color: #f5d9d6;
}
.contact-tel {
  flex: 1 0 50%;
}
.contact-email {
  flex: 1 0 50%;
}
.copy-wrapper a {
  font-weight: 700;
}
