* {
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn,
.deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .deletebtn {
    width: 100%;
  }
}
* {
  padding: 0;
  margin: 0;
}
body {
  height: 1000px;
  background-color: #999;
  font-family: raleway, sans-serif;
}
.clearfix {
  clearfix: both;
}
/* ===================
   start contact-us-2
==================== */
.contact-us-2 {
  background-color: #222;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
  color: #fff;
}
.contact-us-2 .container > div {
  width: 90%;
  margin: auto;
}
.contact-us-2 .container > div .social-media,
.contact-us-2 .container > div .get-in-touch,
.contact-us-2 .container > div .mab {
  width: 32%;
  text-align: center;
  float: left;
}
.contact-us-2 .container > div .social-media h2 {
  line-height: 3em;
  color: #0071bc;
}
.contact-us-2 .container > div .social-media p {
  line-height: 1.2em;
  padding-right: 10%;
  padding-left: 10%;
}
.contact-us-2 .container > div .social-media > div {
  padding-top: 20px;
}
.contact-us-2 .container > div .social-media > div i {
  border: 1px solid #fff;
  padding: 8px;
  margin: 5px;
  border-radius: 50%;
  background-color: #fff;
  color: #0071bc;
  font-size: 20px;
}
.contact-us-2 .container > div .get-in-touch h2 {
  line-height: 3em;
  text-align: left;
  padding-left: 19%;
  color: #0071bc;
}
.contact-us-2 .container > div .get-in-touch hr {
  width: 30%;
  margin-left: 80px;
  margin-bottom: 15px;
}
.contact-us-2 .container > div .get-in-touch > div {
  padding-left: 15%;
}
.contact-us-2 .container > div .get-in-touch > div i {
  width: 10%;
  float: left;
  padding: 1%;
  margin: 4px;
  color: #0071bc;
  font-size: 20px;
}
.contact-us-2 .container > div .get-in-touch > div p {
  width: 80%;
  float: right;
  margin: 3px;
  text-align: left;
  padding: 1%;
  line-height: 1.5em;
}
.contact-us-2 .container > div .mab {
  height: 250px;
}
.contact-us-2 .container > div .mab iframe {
  width: 100%;
  height: 90%;
  padding-top: 20px;
}
/* ===================
   end contact-us-2
==================== */
